@charset "utf-8";
.container{
    background-color: aquamarine;
    width: 900px;
    margin: 0 auto;
}
.navi{
    background-color: rgb(255, 174, 0);
    width:900px;
    height: 60px;
    border-bottom: 1px solid #222;
}
.navi ul{
    list-style: none;
    text-align: center;
}
.navi ul li{
    float: left;
    padding: 30px;
    width: 150px;
}